.main-app-container {
  display: flex;
  flex-direction: row;
  height: 100%;

  .left-menu-container {
    flex-grow: 1;
    min-height: 100%;
    width: 300px;
    background-color: #2f323e;
    color: #ffffff;

    .left-menu-title {
      display: flex;
      flex-direction: row;
      padding: 20px;

      img {
        height: 45px;
        margin-top: 10px;
      }
    }

    .left-menu-content {
      padding-top: 20px;
      .left-menu-item {
        display: block;
        color: #fff;
        text-decoration: none;

        cursor: pointer;
        &:hover {
          background-color: lighten(#2f323e, 15);
        }

        padding: 12px 20px;
        i {
          font-size: 19px;
          width: 35px;
        }
        .left-menu-item-name {
          font-size: 18px;
          font-weight: 400;
        }
      }
    }
  }

  .app-view-container {
    flex-grow: 1;
    width: 100%;
    min-height: 100%;
  }
}
