<div class="main-app-container">
  <div class="left-menu-container">
    <div class="left-menu-title">
      <img src="assets/meow.svg">
      <div>
        <div style="font-size: 22px; padding-left: 20px; font-weight: 700; line-height: 26px;">Meow</div>
        <div style="font-size: 14px; padding-left: 20px; font-weight: 300; line-height: 18px;">Application manager for
          GNOME
        </div>
      </div>
    </div>

    <div class="left-menu-content">
      <a [routerLink]="menuItem.link" *ngFor="let menuItem of menu" class="left-menu-item">
        <i [ngClass]="menuItem.icon"></i>
        <span class="left-menu-item-name">{{menuItem.name}}</span>
      </a>
    </div>

  </div>
  <div class="app-view-container">
    <router-outlet></router-outlet>
  </div>
</div>
