
.dropdown-toggle::after {
  margin-left: 7px;
  vertical-align: 2px;
}


.add-entry-option {
  padding: 6px 10px;
  font-weight: 300;
  cursor: pointer;

  i {
    width: 30px;
    text-align: center;
    color: #00a1b6;
  }
  
  &:hover {
    background-color: #eee;
  }
}

.group-area {
  width: 250px;
  text-align: right;
  padding: 0 10px;
  border-right: 1px solid #AAA;
  color: #323540;
  font-weight: 300;
  margin: 10px 0;

  .group-name {
    font-size: 23px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 5px;
    width: 100%;
    border: 1px solid #FFF;

    text-align: right;

    &:hover {
      border: 1px solid #ddd;
    }

    &:focus {
      border: 1px solid #ddd;
    }
  }

  .group-drag-info {
    font-size: 12px;
    padding-right: 10px;
  }

  .group-actions {
    font-size: 14px;
    padding-right: 10px;

    .group-action-delete {
      color: #e33a4a;
      cursor: pointer;
    }
  }
}

.view-header {
  flex: 64px;
  .view-header-container {
    display: flex; flex-direction: row; padding: 10px; width: 100%;

    .top-menu-left-container {
      display: flex;
      width: 100%;

      & > div {
        margin-right: 10px;
        padding-bottom: 3px;
      }
    }

  }
}

.applications-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: left;

  .application-container {
    &:hover {
      background-color: #333;

      .name {
        color: #ffffff;
      }
    }

    background-color: #fff;
    width: 140px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 300;

    margin: 5px auto 5px 5px;

    .name {
      padding-bottom: 5px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      i {
        font-size: 12px;
        color: #999;
        position: relative;
        top: -1px;
        margin-right: 2px;
      }
    }

    .application-icon {
      img {
        padding-bottom: 5px;
        filter: drop-shadow(0 0 4px #777);
        width: 64px;
        height: 64px;
      }
    }

    cursor: pointer;
  }

  .application-container-small {
    width: 100px;
    padding: 10px;

    .application-icon {
      img {
        width: 48px;
        height: 48px;
      }
    }
  }
}

.view-content {
  .app-group {
    display: flex; margin: 30px 0;
  }
}
