<ng-template #createFolderContent>
  <div style="padding: 5px 2px;">
    <div style="font-size: 14px; padding-bottom: 10px;">Create new folder</div>
    <div style="display: flex; flex-direction: row;">
      <input name="newFolderName"
             id="newFolderName"
             type="text"
             style="width: 250px;"
             (keydown.enter)="addFolder(folderPopover)"
             class="form-control" aria-label="Search"
             [(ngModel)]="newFolderName" placeholder="Folder name">

      <button (click)="addFolder(folderPopover)" class="btn btn-outline-info" style="margin-left: 5px;">
        Add
      </button>
    </div>

  </div>
</ng-template>

<div class="view-container">
  <div (dragstart)="onDragStart($event)" id="scroll_area"
       style="position: absolute; cursor: grabbing; z-index: 1000; width: 132px; height: 132px; display: none;">
    <img (dragstart)="onDragStart($event)" id="drag-image" src=""
         style="position: relative; width: 32px; height: 32px; left: 50px; top: 50px; ">
  </div>

  <div class="view-header">
    <div class="view-header-container">
      <div style="" class="top-menu-left-container">
        <div class="form-group" style="margin-bottom: 0;">
          <div class="input-group" style="width: 400px;">
            <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-search"></i>
                </span>
            </div>
            <input name="applicationSearch" type="text" class="form-control" aria-label="Search"
                   autofocus
                   [(ngModel)]="nameFilter" placeholder="Search">
            <!--<input type="file" placeholder="Folder name" accept="text/usr,text/bin,text/myapp">-->
          </div>
        </div>

        <div>
          <button class="btn btn-outline-dark" (click)="showHidden = !showHidden">
            <i style="margin-right: 5px;" class="far" [ngClass]="{'fa-check-square': showHidden, 'fa-square': !showHidden}"></i>
            Show hidden
          </button>
        </div>
      </div>

      <div style="margin-right: 10px;" *ngIf="folderView">
        <button class="btn btn-outline-info"
                [autoClose]="'outside'"
                [ngbPopover]="createFolderContent"
                popoverClass="create-folder-popover-class"
                triggers="manual"
                (click)="openNewFolder(folderPopover)"
                #folderPopover="ngbPopover"
                placement="bottom">
          <i class="fa fa-plus"></i> Add folder
        </button>
      </div>

      <div style="margin-right: 10px;">
        <div ngbDropdown placement="bottom-right"   class="dropdown-menu-right" >
          <button class="btn btn-outline-info" id="dropdownBasic1" ngbDropdownToggle><i class="fa fa-plus"></i> Add entry</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <div class="add-entry-option" (click)="addEntry('application')">
              <i class="fal fa-window"></i>
              Application
            </div>
            <div class="add-entry-option" (click)="addEntry('website')">
              <i class="fal fa-globe"></i>
              Website
            </div>
            <div class="add-entry-option" (click)="addEntry('file')">
              <i class="fal fa-file"></i>
              File
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="view-content" id="view-content">
    <div class="app-group" *ngFor="let appFolder of appFolders">
      <div (drop)="onDrop($event, appFolder)"
           (mouseleave)="appFolder.showDeleteConfirm = false"
           class="group-area droppable" *ngIf="folderView">
        <input class="group-name"
               type="text"
               (ngModelChange)="updateGroupName($event, appFolder)"
               [(ngModel)]="appFolder.name"
               placeholder="Folder name">
        <div class="group-actions" *ngIf="!isDragging && !!appFolder.id">
          <div class="group-action-delete"
               *ngIf="!appFolder.showDeleteConfirm"
               (click)="appFolder.showDeleteConfirm = true">
            <i class="fa fa-times"></i> Remove folder
          </div>

          <div class="group-actions-delete-confirm" *ngIf="appFolder.showDeleteConfirm">
            confirm
            <span class="tiny-btn" (click)="removeFolder($event, appFolder)">YES</span>
            <span class="tiny-btn" (click)="appFolder.showDeleteConfirm = false">NO</span>
          </div>
        </div>


        <div class="group-drag-info" *ngIf="!!isDragging">Drag application here to move it.<br>Hold <kbd>Ctrl</kbd> to
          copy.
        </div>

      </div>

      <div class="applications-container">
        <div *ngFor="let entry of appFolder.entries" routerLink="/desktop-entry/{{entry.id}}">
          <div class="application-container application-container-small" [ngClass]="{'application-container-small': folderView}" *ngIf="isEntryVisible(entry)"
               (mousedown)="dragStart($event, entry, appFolder)"
               (dragstart)="onDragStart($event)">

            <popper-content #popper1Content style="background-color: #fff;">
              <div style="z-index: 1000; min-width: 150px;">
                {{entry.name}}
              </div>
            </popper-content>

            <div [popper]="popper1Content"
                 [popperShowOnStart]="false"
                 [popperTrigger]="'hover'"
                 [popperHideOnClickOutside]="true"
                 [popperPlacement]="'bottom'">

              <div class="name">
                <!--<i *ngIf="entry.require_admin"-->
                   <!--class="fa fa-lock-alt" ngbTooltip="You need to be root to edit this item"></i>-->
                {{entry.name}}
              </div>

              <div class="application-icon">
                <img *ngIf="entry.icon_img" [src]="'http://localhost:20100/icon/' + entry.icon_img" alt="application icon">
                <img *ngIf="!entry.icon_img" src="assets/missing.png" alt="missing application icon">
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
