
.styled-input-single {
  position: relative;
  text-align: left;

  label {
    padding-left: 30px;
    cursor: pointer;
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      border-radius: 50%;
    }
    &:before {
      left: 0;
      width: 20px;
      height: 20px;
      top: 0;
      background: #f7f7f7;
      box-shadow: 0 0 1px grey;
    }
    &:after {
      top: 3px;
      left: 3px;
      width: 14px;
      height: 14px;
      opacity: 0;
      background: #00a0b4;
    }
  }

  input[type="checkbox"] {
    position: absolute;
    top: 0;
    visibility: hidden;

    &:checked + label {
      &:before {
      }
      &:after {
        opacity: 1;
      }
    }
  }
}
