<div class="view-container">
  <div class="view-header">
    <div style="display: flex; flex-direction: row; padding: 10px; width: 100%;">
      <div style="display: flex; width: 100%;">
        <div *ngIf="!isConfirmDelete">
          <button class="btn btn-default" routerLink="/desktop-entries">
            <i class="fa fa-chevron-left"></i> <span>Applications</span>
          </button>

          <button class="btn btn-outline-dark" (click)="createEntry()" *ngIf="isCreate">
            <i class="fa fa-save"></i> Create
          </button>
          <button class="btn btn-outline-dark" (click)="updateEntry()" *ngIf="canEdit() && !isCreate">
            <i class="fa fa-save"></i> Save
          </button>

          <button *ngIf="!isCreate" class="btn btn-outline-dark" (click)="isConfirmDelete = true">
            <i class="fa fa-times"></i> Remove
          </button>
        </div>

        <div *ngIf="isConfirmDelete">
          <div style="display: flex; flex-direction: row;">
            <div style="margin-right: 10px;">
              <div style="font-size: 14px;">Please confirm</div>
              <div style="font-size: 12px;">The entry will be permanently removed</div>
            </div>

            <button *ngIf="!isCreate" class="btn btn-outline-danger" (click)="deleteEntry()">
              <i class="fa fa-times"></i> Delete
            </button>
            <button *ngIf="!isCreate" class="btn btn-outline-dark" (click)="isConfirmDelete = false">
              Cancel
            </button>
          </div>

        </div>
      </div>

      <div>
        <button class="btn"
                [ngClass]="{'btn-outline-info': !isRootServerAlive, 'btn-outline-success': isRootServerAlive}"
                (click)="unlock()">
          <i class="fa fa-unlock" [ngClass]="{'fa-lock': !isRootServerAlive, 'fa-unlock': isRootServerAlive}"></i>
          {{ isRootServerAlive ? 'Lock' : 'Unlock' }}
        </button>
      </div>
    </div>
  </div>

  <div class="view-content">
    <div class="applications-container">
      <div class="desktop-entry-container" *ngIf="!!entry">
        <div style="display: flex; flex-direction: row;">

          <div class="desktop-entry-icon" style="width: 200px;">
            <img *ngIf="entry.icon_name" [src]="'http://localhost:20100/icon_by_name/' + entry.icon_name">
            <img *ngIf="entry.icon_img" [src]="'http://localhost:20100/icon/' + entry.icon_img">
            <img *ngIf="!entry.icon_img && !entry.icon_name" src="assets/missing.png">
          </div>
          <div style="width: 100%; display: flex; flex-direction: column; padding-top: 15px;">
            <div *ngIf="!canEdit()"
                 style="padding-left: 10px; margin-bottom: 5px;">
              <div>
              <span style="font-weight: 500; color: #eb3f4e;">
                <i class="fas fa-exclamation"></i>
                This entry is locked.
              </span>
                <span style="font-size: 14px; font-weight: 300;">
                To edit click the <i class="fal fa-lock"></i> UNLOCK button.
              </span>
              </div>
            </div>

            <input class="application-name"
                   [disabled]="!canEdit()"
                   type="text" [(ngModel)]="entry.name"
                   placeholder="Name">

            <textarea autosize
                      rows="1"
                      [disabled]="!canEdit()"
                      [minRows]="1"
                      [maxRows]="4"
                      class="application-description"
                      [placeholder]="canEdit() ? 'Description' : 'No description'"
                      [(ngModel)]="entry.comment"></textarea>

            <div style="padding: 0 0 0px 10px;" *ngIf="!isCreate">
              <div class="styled-input-single">
                <input type="checkbox" [disabled]="!canEdit()"
                       [(ngModel)]="entryVisible"
                       id="checkbox-example-one"/>
                <label for="checkbox-example-one">
                  {{entryVisible ? 'Visible' : 'Hidden'}}
                </label>
              </div>
            </div>
          </div>
        </div>

        <div>
          <div class="application-entry-property" *ngIf="isUrl">
            <div class="application-entry-property-title">
              <i class="fal fa-link"></i>
              <div>URL Link</div>
            </div>

            <div class="application-entry-content">
              <div class="application-entry-description">
                URL to open
              </div>
              <div class="select-file-input" style="margin: 3px 0;">
                <input spellcheck="false" class="form-control"
                       style="flex: 1; position: relative; left: -10px; border-radius: 4px; padding: 8px; height: 32px; font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace; font-size: 14px;"
                       [disabled]="!canEdit()" type="text"
                       [(ngModel)]="urlLink" (ngModelChange)="updateExecFromLink()"
                       placeholder="Type the application command...">
              </div>
            </div>
          </div>

          <div class="application-entry-property" *ngIf="!isUrl">
            <div class="application-entry-property-title">
              <i class="fal fa-terminal"></i>
              <div>Command</div>
            </div>

            <div class="application-entry-content">
              <div class="application-entry-description">
                Shell command to run
              </div>
              <div class="select-file-input" style="margin: 3px 0;">
                <input spellcheck="false" class="form-control"
                       style="flex: 1; position: relative; left: -10px; border-radius: 4px; padding: 8px; height: 32px; font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace; font-size: 14px;"
                       [disabled]="!canEdit()" type="text"
                       [(ngModel)]="entry.exec" placeholder="Type the application command...">

              </div>
              <div class="select-file-input" style="display: flex; flex-direction: row;">
                <button
                  style="border: 1px solid #CCC; border-radius: 5px; padding: 3px 10px; margin-right: 10px; font-size: 14px;"
                  class="btn"
                  (click)="selectFile($event)"><i
                  class="fal fa-folder-open" style="margin-right: 5px; font-size: 14px;"></i>
                  Open
                </button>

                <button style="border: 1px solid #CCC; border-radius: 5px; padding: 3px 12px; font-size: 14px;"
                        class="btn"
                        (click)="runEntry()">
                  <i class="fal fa-play" style="margin-right: 5px; font-size: 14px;"></i>
                  Run
                </button>
              </div>

            </div>
          </div>
          <div class="application-entry-property">
            <div class="application-entry-property-title">
              <i class="fal fa-search"></i>
              <div>Search terms</div>
            </div>

            <div class="application-entry-content">
              <div class="application-entry-description">
                List of terms used to search the entry
              </div>

              <div style="position: relative; left: -8px; top: -2px;">
                <ng-select class="custom"
                           [disabled]="!canEdit()"
                           placeholder="No search term for this entry"
                           [items]="entry.keywords"
                           [addTag]="true"
                           multiple="true"
                           [addTagText]="'Add search term: '"
                           [(ngModel)]="entry.keywords">
                </ng-select>
              </div>
            </div>
          </div>

          <!--          <div class="application-entry-property">-->
          <!--            <div class="application-entry-property-title">-->
          <!--              <i class="fal fa-tags"></i>-->
          <!--              <div>Categories</div>-->
          <!--            </div>-->

          <!--            <div class="application-entry-content">-->
          <!--              <div class="application-entry-description">-->
          <!--                Categories of the entry-->
          <!--              </div>-->

          <!--              <div style="position: relative; left: -8px; top: -2px;">-->
          <!--                <ng-select class="custom"-->
          <!--                           [disabled]="!canEdit()"-->
          <!--                           placeholder="Add categories to this entry"-->
          <!--                           [items]="entry.categories"-->
          <!--                           [addTag]="true"-->
          <!--                           multiple="true"-->
          <!--                           [addTagText]="'Add category: '"-->
          <!--                           [(ngModel)]="entry.categories">-->
          <!--                </ng-select>-->
          <!--              </div>-->

          <!--            </div>-->

          <!--          </div>-->
        </div>
      </div>
    </div>
  </div>
</div>
