@import "ng-select-custom";
@import "checkbox-custom";

.view-header {
  flex: 64px;

  button {
    margin-right: 10px;

    i {
      margin: 0 8px 0 4px;
    }

    text-transform: uppercase;
  }
}

.desktop-entry-container {
  padding: 20px;

  .application-description {
    color: #777;
    font-weight: 300;
  }

  input {
    border: 1px solid #ffffff;
    padding: 5px 10px;
    margin-bottom: 5px;
    border-radius: 4px;

    &:hover {
      border: 1px solid #ddd;
    }

    &:disabled {
      background-color: #fff;
      border: 1px solid transparent;
      color: #212529;
    }
  }

  textarea {
    border: 1px solid transparent;
    font-weight: 400;
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    resize: none;

    &:hover {
      border: 1px solid #ddd;
      resize: vertical;
    }

    &:disabled {
      background-color: #fff;
      border: 1px solid transparent;
      color: #212529;
    }
  }

  .application-name {
    font-size: 26px;
    font-weight: 300;
    color: lighten(#2f323d, 5);
    margin-top: 10px;
    height: 45px;
  }

  .desktop-entry-icon {
    padding: 4px 18px 0 5px;

    img {
      width: 164px;
      height: 164px;
    }
  }

  .select-file-input {

    button {
      color: #777;
      border-color: #fff;

      background-color: #fff;
      border-right-width: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;

      &:hover {
        background-color: #777;
        color: #ffffff;
        border-color: #777 !important;
      }
    }

    &:hover {
      button {
        border-color: #ddd;
      }

      input {
        border-radius: 0;
        border: 1px solid #ddd;

        &:disabled {
          border: 1px solid transparent;
        }
      }
    }
  }

  .application-entry-property {
    padding-top: 40px;
    display: flex;

    .application-entry-property-title {
      width: 174px;
      text-align: right;
      font-weight: 300;
      padding-left: 18px;
      padding-right: 18px;

      font-size: 16px;
      color: #00aca6;

      i {
        font-size: 20px;
        color: darken(#00aca6, 7);
        margin-bottom: 10px;
      }
    }

    .application-entry-content {
      flex-grow: 1;
      padding-left: 25px;

      .application-entry-description {
        font-size: 14px;
        font-weight: 300;
        color: #777;
      }
    }
  }
}
