.ng-select.custom ::ng-deep {
  margin-top: 5px;
  .ng-select-container {
    border-color: #fff !important;

    &:hover {
      border-color: #ccc !important;
    }

    &:focus {
      border-color: #ccc !important;
    }

    &:active {
      border-color: #ccc !important;
    }
  }

  .ng-clear-wrapper {
    visibility: hidden;
  }
  .ng-arrow-wrapper {
    visibility: hidden;
  }

  &:hover {
    .ng-clear-wrapper {
      visibility: visible;
    }
    .ng-arrow-wrapper {
      visibility: visible;
    }
  }

}

.ng-select.custom.ng-select-disabled ::ng-deep {
  .ng-select-container {

    border-color: #ffffff !important;
    outline-color: #ffffff;
    background-color: #fff;

    .ng-arrow-wrapper {
      display: none !important;
    }

    box-shadow: none !important;
  }
}

.ng-select.custom.ng-select-opened ::ng-deep {
  .ng-select-container {
    border-color: #ccc !important;
  }
  .ng-clear-wrapper {
    visibility: visible;
  }
  .ng-arrow-wrapper {
    visibility: visible;
  }
}
