/* You can add global styles to this file, and also import other style files */
@import "bootstrap.min.css";
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "assets/fontawesome-pro-5.6.3-web/css/all.css";

body {
  font-family: Roboto;
}

html, body {
  height: 100%;

  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}

:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.create-folder-popover-class {
  max-width: 400px !important;
}


.tiny-btn {
  border: 1px solid #333;
  padding: 1px 3px;
  border-radius: 3px;
  margin-left: 4px;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;

  &:hover {
    background-color: #333;
    color: #fff;
  }
}

.tiny-btn.tiny-btn-alert {
  border: 1px solid #e33a4a;
  color: #e33a4a;

  &:hover {
    background-color: #e33a4a;
    color: #fff;
  }
}

@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto-Thin.ttf") format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto-Light.ttf") format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto-Regular.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto-Medium.ttf") format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto-Bold.ttf") format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto-Black.ttf") format('truetype');
  font-weight: 900;
  font-style: normal;
}

popper-content {
  div.ngxp__container {
    margin: 15px 0px !important;
    z-index: 1000 !important;
    padding: 5px !important;
    background-color: #fff;
    border-color: #2f323e;
    color: #2f323e;
    font-weight: 700;
  }
}

.view-container {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;

  .view-header {
    display: flex;
    background-color: #eee;
    border-bottom: 1px solid #ddd;
  }

  .view-content {
    overflow-y: auto;
    height: 100%;
  }
}
